.fee{
  font-family: "IRANYEKAN-Bold", serif;
  font-size: 18px !important;
}

.toman{
  font-family: "IRANYEKAN-Bold", serif;
}

.add-to-card-btn{
  font-family: "IRANYEKAN-Bold", serif;
  width: 100%;
  height: 40px;
  border-radius: 5px !important;
  border: unset;
  background-color: #F2F3F5;
  cursor: pointer;
}

.add-to-favorite-svg{
  color: red;
}
