<div class="container flex lg:flex-row flex-column align-items-center">
  <div class="lg:col-6 col-12">
    <h3 class="download-application-title">دانلود اپلیکیشن</h3>
    <p class="about-us">شرکت گوموش تجارت آزادی با برند اختصاصی GTA بزرگترین تولید کننده و پخش کننده زیورآلات نقره، با بیش از ۵۰۰۰ مدل، متوع ترین عرضه کننده زیورآلات نقره در ایران می باشد. شما به محض ورود به سایت GTA Silver با دنیایی از زیورآلات نقره رو به رو می شوید که می توانید هرآنچه که به ذهنتان خطور می کند را در سریع ترین زمان ممکن فراهم کنید. شما حتی میتوانید مدل محصول مورد نظرتان را که در سایت موجود نیست و طرحی دلخواه می باشد را برای کارشناسان شرکت ارسال کنید تا برای شما طراحی و ساخته شود. این شرکت از سال ۱۳۹۰ تا به امروز جزو اولین و بزرگترین تولید کننده های زیورالات نقره با مجهز ترین و بروزترین دستگاه های روز دنیا در ایران بوده و جزو اولین صادر کنندگان زیورالات به کشور های اروپایی می باشد.</p>
    <div class="flex flex-column md:flex-row download-links">
      <div class="col-6 d-flex flex-column">
        <button class="play-store">
          <span class="me-2">دانلود از پلی استور</span>
          <img src="assets/images/play%20store.svg" alt="download from play store">
        </button>
        <button class="sibapp">
          <span class="me-2">دانلود از سیب اپ</span>
          <img src="assets/images/sibapp.webp" alt="download from sib app">
        </button>
        <button class="direct-link">
          <span class="me-2">دانلود مستقیم</span>
          <img src="assets/images/android.webp" alt="direct download">
        </button>
      </div>
      <div class="col-6 d-flex flex-column">
        <button class="baazaar">
          <span class="me-2">دانلود از بازار</span>
          <img src="assets/images/bazar.svg" alt="download from baazaar">
        </button>
        <button class="anardoni">
          <span class="me-2">دانلود از اناردونی</span>
          <img src="assets/images/anardoni.webp" alt="download from anardoni">
        </button>
      </div>
    </div>
  </div>
  <div class="md:flex md:col-6 d-none" style="margin-right: 201px;">
    <img src="assets/images/gta.webp" alt="gta">
  </div>
</div>
