<div class="product-card-box relative"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()">
  <swiper-container swiper [config]="config" class="swiper-container-product-image">
    <ng-container *ngFor="let image of cardProduct?.images">
      <swiper-slide class="swiper-slide-product-image">
        <img [src]="image" [alt]="cardProduct?.title">
      </swiper-slide>
    </ng-container>
  </swiper-container>
  <div class="d-flex flex-column align-items-center">
    <span class="mt-3">{{cardProduct?.title}}</span>
    <div>
      <span class="my-3">{{cardProduct?.fee | number}}</span>
      <span class="mr-1">تومان</span>
    </div>
  </div>
  <div class="show-quick-mode absolute d-flex align-items-center justify-content-center"
       *ngIf="showQuickMode"
        (click)="onShowQuickMode()">
    <img src="../../../../assets/images/Iconly-Light-Show.png" alt="show">
  </div>
</div>
