.quick-show-swiper{
  height: 400px!important;
  --swiper-navigation-size: 21px!important;
  --swiper-navigation-color: #DBDBDB;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
}

.next-button {
  position: absolute;
  bottom: 6px;
  right: 66px;
  rotate: 90deg;
}

.prev-button {
  position: absolute;
  top: 58px;
  right: 66px;
  rotate: -90deg;
}
.buttonIsDisable{
  color: rgb(208, 41, 41)
}

.buttonIsEnable{
  color: #3D3D3D
}
