<ng-container *ngIf="quickShow$ | async as quickShow">
  <div class="d-flex flex-row">
    <div class="col-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chevron-compact-right next-button" viewBox="0 0 16 16"
           (click)="onButtonNext()">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
      </svg>
      <swiper-container #selectArtSlider swiper [config]="config" dir="ltr" class="quick-show-swiper">

        <ng-container *ngFor="let image of quickShow.images">
          <swiper-slide>
            <img [src]="image" [alt]="quickShow.title" width="80" height="80">
          </swiper-slide>
        </ng-container>

      </swiper-container>
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-chevron-compact-right prev-button" viewBox="0 0 16 16"
           (click)="onButtonPrev()">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
      </svg>
    </div>
    <div class="col-4"></div>
    <div class="col-3"></div>
    <div class="col-3"></div>
  </div>
</ng-container>
<app-loading *ngIf="quickShowLoading$ | async as quickShowLoading"></app-loading>
