<ng-container *ngIf="quickShow$ | async as quickShow">
  <div class="d-flex flex-row">
    <div class="col-2">
      <app-quick-show-slider [productSlideImage] = quickShow
                              (productImageLink)="imageLink = ($event)" ></app-quick-show-slider>
    </div>
    <div class="col-4">
      <app-quick-show-product-image [imageLink] = imageLink></app-quick-show-product-image>
    </div>
    <div class="col-4">
      <app-quick-show-product-details [productQuickShowDetails] = quickShow></app-quick-show-product-details>
    </div>
    <div class="col-2">
      <app-add-to-card [productFee] = quickShow></app-add-to-card>
    </div>
  </div>
</ng-container>
<app-loading *ngIf="quickShowLoading$ | async as quickShowLoading"></app-loading>
