@import "../../../../../assets/styles/colors.scss";

.codes>input{
  width: 56px !important;
  height: 60px !important;
  background-color: $bg-light-10;
  border-radius: 10px;
  border: unset;
  margin-right: 16px;
  text-align: center;
  font-size: 24px;
}
