$medium-gray: #6B6B6B;
$dark-gray: #2C2C2C;
$bg-light: #FAFAFA;
$bg-light-10: #F2F2F2;
$light-gray: #BFBFBF;
$light-gray-30: #FBFBFB;
$light-gray-20: #F1F2F3;
$light-gray-40: #dcdcdd;
$light-orange: #D9AA7D;
$shadow-light: rgba(0, 0, 0, 0.06);
$shadow-dark: rgba(0, 0, 0, 0.1);
$light-orange-100: #FFEFD3;
$light-gray-400: #5A5A5A;
$light-gray-200: #F9F9F9;
