@font-face {
  font-family: 'IRANYEKAN-Thin';
  src: url('/assets/fonts/IRANYekanThinFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-Regular';
  src: url('/assets/fonts/IRANYekanRegularFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-Medium';
  src: url('/assets/fonts/IRANYekanMediumFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-Light';
  src: url('/assets/fonts/IRANYekanLightFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-Bold';
  src: url('/assets/fonts/IRANYekanBoldFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-Black';
  src: url('/assets/fonts/IRANYekanBlackFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-ExtraBold';
  src: url('/assets/fonts/IRANYekanExtraBoldFaNum.ttf') format('truetype');
}

@font-face {
  font-family: 'IRANYEKAN-ExtraBlack';
  src: url('/assets/fonts/IRANYekanExtraBlackFaNum.ttf') format('truetype');
}
