@import "../../assets/styles/colors.scss";

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
  width: 67px!important;
  border-radius: 4px !important;
  background-color: $light-orange!important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
  background-color: $bg-light-10;
  width: 15px !important;
  height: 0.5rem;
  transition: width 1s !important;
  border-radius: 4px !important;
}

.p-dialog-header{
  padding-top: 12px!important;
  padding-bottom: 0 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  font-family: "IRANYEKAN-Regular", serif !important;
}

.p-inputtext{
  font-family: "IRANYEKAN-Regular", serif !important;
}
.p-sidebar-right {
  width: 34rem;
}

.p-accordion-header-text{
  font-family: "IRANYEKAN-Regular", serif;
  font-size: 16px;
  color: #6b6b6b;
}
