<div class="container">
  <div class="product-slider-box">
    <div class="product-slider-header d-flex flex-row justify-content-between">
      <span class="product-title">{{title}}</span>
      <a class="icon-link d-flex flex-row align-items-center see-more" href="#">
        محصولات بیشتر
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left ms-1" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </a>
    </div>
    <div class="product-swiper-container">
      <swiper-container swiper [config]="config">
        <ng-container *ngFor="let product of products">
          <swiper-slide>
            <app-product-cards [cardProduct] = "product"></app-product-cards>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </div>
</div>
