
  <div class="container benefits flex flex-column md:flex-row flex-wrap justify-content-between">
    <div class="d-flex flex-row align-items-center">
      <img src="assets/images/24-hours%20.svg" alt="24 hour guarantee">
      <span>ضمانت 24 ساعته</span>
    </div>
    <div class="d-flex flex-row align-items-center">
      <img src="assets/images/exchange.svg" alt="Return guarantee">
      <span>ضمانت بازگشت</span>
    </div>
    <div class="d-flex flex-row align-items-center">
      <img src="assets/images/guide.svg" alt="Guarantee of the originality of the product">
      <span>ضمانت اصل بودن کالا</span>
    </div>
    <div class="d-flex flex-row align-items-center">
      <img src="assets/images/truck.svg" alt="Express delivery">
      <span>تحویل اکسپرس</span>
    </div>
  </div>
  <div class="footer">
    <div class="md:container d-flex flex-column">
      <div class="flex lg:flex-row flex-column justify-content-between">
        <div class="col-12 md:col-4 flex flex-column about-us-text">
          <a>
            <img src="assets/images/logo%20(1).png" alt="gta logo">
          </a>
          <p class="about-us-paragraph text-justify">شرکت گوموش تجارت آزادی با برند اختصاصی GTA بزرگترین تولید کننده و پخش کننده زیورآلات نقره، با بیش از ۵۰۰۰ مدل، متوع ترین عرضه کننده زیورآلات نقره در ایران می باشد. شما به محض ورود به سایت GTA Silver با دنیایی از زیورآلات نقره رو به رو می شوید که می توانید هرآنچه که به ذهنتان خطور می کند را در سریع ترین زمان ممکن فراهم کنید.</p>
          <p class="phone-number">04135551000</p>
        </div>
        <div class="col-12 lg:col-2 flex flex-column quick-access-box">
          <span class="quick-access">دسترسی سریع</span>
          <ul class="quick-access-list">
            <li class="about-us mb-4"><a href="">درباره ما</a></li>
            <li class="contact-us mb-4"><a href="">تماس با ما</a></li>
            <li class="faq mb-4"><a href="">سوالات متداول</a></li>
            <li class="term-policy mb-4"><a href="">قوانین و مقررات</a></li>
          </ul>
        </div>
        <div class="col-12 lg:col-2 flex flex-column purchase-guide-box">
          <span class="purchase-guide">راهنمای خرید</span>
          <ul class="purchase-guide-list">
            <li class="payment mb-4"><a href="">پرداخت</a></li>
            <li class="major-buying-guide mb-4"><a href="">راهنمای خرید عمده</a></li>
            <li class="critics-suggestions mb-4"><a href="">انتقادات و پیشنهادات</a></li>
            <li class="blog mb-4"><a href="">وبلاگ</a></li>
          </ul>
        </div>
        <div class="col-12 lg:col-3 flex flex-column">
          <span style="margin-bottom: 35px">مجوز ها</span>
          <div>
            <img src="assets/images/enamad2.webp" alt="razavi" class="me-3">
            <img src="assets/images/enamad1.webp" alt="enamad">
          </div>
        </div>
      </div>
      <div class="flex flex-column lg:flex-row justify-content-center">
        <div class="d-flex flex-row col-4">
          <img src="assets/images/instagram.svg" alt="instagram">
          <img src="assets/images/telegram.svg" alt="telegram" class="mx-4">
          <img src="assets/images/twitter.svg" alt="twitter">
        </div>
        <div class="flex flex-column lg:flex-row lg:col-7 col-12 copyright justify-content-between">
          <span>تمامی حقوق کپی رایت وب سایت  پدیده محفوظ است</span>
          <img src="assets/images/Group%205070.png" alt="arka logo" width="82" height="30">
        </div>
      </div>
    </div>
  </div>

