.blog-post-slider{
  height: 400px !important;
}

.blog-title{
  font-family: "IRANYEKAN-Bold", serif;
  font-size: 24px !important;
  border-bottom: 1px solid #D9AA7D;
  margin-bottom: 37px;
  width: 202px;
  padding-bottom: 12px;
}
